<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Recipes List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/03d4ec6a86.js" crossorigin="anonymous"></script>
    <link href="css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header bg-white border border-bottow">
    <div class="container">
        <div class="container mt-2">
            <h3 class="text-center h3">MAGIC KITCHEN</h3>
        </div>
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="d-flex align-items-center col-md-3 mb-2 mb-md-2">
                <!-- <a class="text-black" href="#"><i class="fa fa-twitter fa-fw me-1 fa-lg" aria-hidden="true"></i></a>
                <a class="text-black" href="#"><i class="fa fa-facebook fa-fw me-1 fa-lg" aria-hidden="true"></i></a> -->
                <a class="text-black d-none d-md-inline" href="#"><i class="fa fa-instagram fa-fw me-1 fa-lg" aria-hidden="true"></i></a>
                <!-- <a class="text-black" href="#"><i class="fa fa-twitch fa-fw me-1 fa-lg" aria-hidden="true"></i></a> -->
                <a class="text-black d-none d-md-inline" href="#"><i class="fa fa-youtube fa-fw me-1 fa-lg" aria-hidden="true"></i></a>
                <a class="text-black d-none d-md-inline" href="#"><i class="fa-brands fa-tiktok fa-fw fa-lg" aria-hidden="true"></i></a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="test.html" class="nav-link px-2 link-secondary link-offset-2 link-offset-3-hover">RECIPES</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary link-offset-2 link-offset-3-hover">MENU's</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary link-offset-2 link-offset-3-hover">CONTACTS</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary link-offset-2 link-offset-3-hover">FAQ's</a></li>
                <li><a href="createtable.html" class="nav-link px-2 link-secondary link-offset-2 link-offset-3-hover">CREATE RECIPE</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary link-offset-2 link-offset-3-hover">CREATE MENU</a></li>
                <li><a href="reaction.html" class="nav-link px-2 link-secondary link-offset-2 link-offset-3-hover">REACTIONS</a></li>
            </ul>
            <div class="col-md-3 align-items-center text-end mb-2 mb-md-1 justify-content-center">
                <a class="text-black" href="#"><i class="fa-solid fa-magnifying-glass me-1 fa-fw fa-lg" aria-hidden="true"></i></a>
                <a class="text-black" href="registration.html"><i class="fa-solid fa-circle-user me-1 fa-fw fa-lg" aria-hidden="true"></i></a>
                <a class="text-black" href="#"><i class="fa fa-bars me-1 fa-fw fa-lg" aria-hidden="true"></i></a>
            </div>  
        </div>
    </div>
    </header>
    <div id="app">
    <div v-for="recipe in recipes" :key="recipe" class="m-5">
        <div class="form-group mx-5 px-5">
          <label for="name">Назва</label>
          <input type="text"
            class="form-control" name="receip-header" id="name" v-model="recipe.name"  aria-describedby="helpId" disabled>
        </div>
        <div class="form-group mt-4  mx-5 px-5">
            <label for="description">Опис рецепту</label>
            <textarea type="text"
              class="form-control" name="receip-description" id="description" v-model="recipe.description"  aria-describedby="helpId" placeholder="" rows="7" cols="33" disabled></textarea>
          </div>
          <div class="form-group mt-4  mx-5 px-5">
            <label for="time">Час приготування</label>
            <input type="text"
              class="form-control" name="receip-time" id="time"  aria-describedby="helpId" v-model="recipe.time" placeholder="" disabled>
          </div>
          <form @submit.prevent="submitReact">
          <div class="form-group mt-4 mx-5 px-5">
            <label for="time">Ваша оцінка</label>
            <input type="number"
              class="form-control" name="receip-rating" id="rating"  aria-describedby="helpId" v-model="rating" placeholder="Від 1 до 5" min="1" max="5">
          </div>
          <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-primary btn-block" >Оцінити</button>
        </div>
        </form>
    </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      const app = Vue.createApp({
          data() {
              return {
                  recipes: [],
                  rating: ""
              }
          },
          methods: {
            submitReact(){
              localStorage.setItem("rating" + this.recipes[0].num, JSON.stringify({
              recipeNum: this.recipes[0].num,
              rating: this.rating,
            }));
            window.location.href = '/labs/lab9/reaction.html';
            }
          },
          mounted() {
            for(let i=0; i<localStorage.length; i++) {
            let key = localStorage.key(i);
            if(key === "rateTemporary"){
              let elementToChange = JSON.parse(localStorage.getItem(key));
              this.recipes.push(JSON.parse(localStorage.getItem("recipe" + elementToChange.id)));
            }
            }
            
          },
        });

        app.mount('#app');
    </script>
</body>
</html>